.mb_10{
	margin-bottom: 1.0rem;
}
.mt_10{
	margin-top: 1.0rem;
}
.mr_10{
	margin-right: 1.0rem;
}
.mr_15{
	margin-right: 1.5rem;
}
.mb_15{
	margin-bottom: 1.5rem;
}
.mt_15{
	margin-top: 1.5rem;
}
.mb_20{
	margin-bottom: 2.0rem;
}
.mt_20{
	margin-top: 2.0rem;
}
.mb_25{
	margin-bottom: 2.5rem;
}
.mt_25{
	margin-top: 2.5rem;
}
.mb_30{
	margin-bottom: 3.0rem;
}
.mt_30{
	margin-top: 3.0rem;
}
.mb_35{
	margin-bottom: 3.5rem;
}
.mt_40{
	margin-top: 4.0rem;
}
.mb_40{
	margin-bottom: 4.0rem;
}
.mb_60{
	margin-bottom: 6.0rem;
}

.mt_50{
	margin-top: 5.0rem;
}

.mr_15{
	margin-right: 1.5rem;
}
.ml_15{
	margin-left: 1.5rem;
}

.blue_bg{
	background-color: var(--blue);
	border-color: transparent !important;
	
}
a.blue_bg:hover,
button.blue_bg:hover{
	background-color: transparent;
	border-color: var(--blue) !important;
	color: var(--blue);
	border-radius: 1rem;
}
.blue_text{
	color: var(--blue);
}
.button {
	background-color: var(--blue);
    border-radius: 1rem;
    text-align: center;
    border: .2rem solid transparent;
    color: #fff;
    display: inline-block;
    font-size: 2rem;
    text-transform: capitalize;
    transition: 0.3s;
    padding: 1rem 3rem;
}
.button:hover{
	background-color: var(--blue);
	color: #fff;
	border-color: transparent;
}
